* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --page-background-color: #363636;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background-color: var(--page-background-color);
}

.container {
    padding: 3%;
    margin: auto;
    display: flex;
}
.form-holder {
    background-color: #646464;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 3em;
    width: 25em;
    height: 33em;
    align-self: center;
    text-align: center;
    border-radius: 3%;
    box-shadow:  5px 5px 10px rgb(18, 18, 18);

}
.form-holder:hover {
    animation: form-selector 1s;
    animation-fill-mode: both;
}
@keyframes form-selector {
    0% {
        background-color: #646464;
    }
    100% {
        background-color: #8e8e8e;
    }
}
 ul {
     margin: 0;
     padding: 0;
 }
form {
    padding: 2em;
}
#submit-btn {
    width: 5em;
    height: 2em;
}
.requirement {
    padding: 0;
    margin: 0;
    width: 15em;
    color: rgb(77, 0, 0);
    border-top: 1px solid black;
}

.requirement ul {
    position: relative;
    top: .5em;
    left: 3em;
    display: list-item;
    list-style-type: disc;
    font-size: .85em;
    text-align: left;
}
#user-req {
    list-style-type: '>';
    padding-inline-start: 1ch;
    right: 2ch;
}
#user-box {
    background-color: #c2c2c2;
}
#password-box {
    background-color: #c2c2c2;
}
#submit-btn {
    margin: 2em;
}